*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
}
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:-100vh;
   z-index: 50;
    background: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    flex-direction:column;
}
.nav-list{
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
   
    justify-content: center;
    align-items: center;
}
li{
    margin: 3rem;
}
.nav-link{
    font-family:fantasy;
    font-size: 2.5rem
}

.nav-link:hover.nav-link:focus{
    background: linear-gradient( top left,#ff0062,#0066ff);
    background-clip: text;
    
    -webkit-text-fill-color: transparent;
}
.top-nav.open{
    top: 0;
    border-radius: initial;
}
.menu-toggler{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: tansform 650ms ease-out;

}
.bar{
    background:linear-gradient(to right,#ffe838,#ff7b00);
    width: 100%;
    height: 2px;
    border-radius: .8rem;
}
#start,
#end{
    width: 50%;
}
#start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(.54, -.81,.57, .57);
}
.open #start{
    transform: rotate(-450deg)translateX(.8rem);
}
#end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(.54, -.81,.57, .57);
}
.open #end{
    transform: rotate(-450deg)translateX(-.8rem)
}
#showcase .conatiner{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
#showcase{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(19.jpg)0;
    background-size: cover;
    background-position: center center;
    background-position-y:0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:#f4f4f4
}
#showcase h1{
    padding-top: 220px;
    font-size: 50px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#logo{
    position:  absolute;
    width:200px;
    top: 0px;
    left: 0px;

}
a.btn{
    display:inline-block;
    position: relative;
    padding: 15px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    margin-left: 10%;
    text-decoration: none;
    text-transform:uppercase;
    overflow:hidden;
    transition:.5s;
    letter-spacing:3px;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0005)

}
a.btn:hover{
    background: #03e9f4;
    color:#050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}
a.btn span{
    position: absolute;
    display: block;

}
a.btn span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height:2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation:animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a.btn span:nth-child(2){
    top:-100;
    right:0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation:animate2 1s linear infinite;
    animation-delay:.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
       top: 100%;
    }
}
a.btn span:nth-child(3){
    bottom:0;
    right:-100%;
    width:100%;
    height:2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation:animate3 1s linear infinite;
    animation-delay:.5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
      right: 100%;
    }
}
a.btn span:nth-child(4){
   bottom:-100;
   left:0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation:animate4 1s linear infinite;
    animation-delay:.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
       bottom : 100%;
    }
}
#newsletter .conatiner{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
#newsletter{
    padding: 15px;
    color: #fff;
    background: #35424a;
    height: 80px;
}
#newsletter h1{
    float:left;

}
#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height:38px;
    width:250px;
}
.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#fff
}
.shop{
    background-color: #1e2225;
    font-family:Trattatello, fantasy;
    color:#fff;
    text-align: center;
}
    

#about .container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.about-heading{
    text-align:center;
    text-transform: uppercase;
    margin-bottom:2rem;
}

.about-heading h1{
    font-size: 8rem;
    opacity: 0.3;
}
.about-heading h6{
    font-size: 2rem;
    font-weight: 300 ;
}
.about-details{
    flex: 1;
}
#profile img{
    flex:1;
    margin-right:5rem;
    width:600px;
}

#services{
    color: #fff;
    text-align: center;
    font-family: Trattatello, fantasy;
    background: #1e2225;   
    padding: 20px;
    margin-bottom:0
}
.services{
    display:flex;
    background: #1e2225;
    padding: 0px 0 20px 0 ;
    color: #fff;
}
.box h6{
    font-size: 18px;
}
.box p{
    color:rgba(218, 211, 211, .8);
    font-size:15px; 

}
h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;

}
hr{
    border-top: 2px solid lightgray;
    width: 70%;
}
.grid-inner{
    display: flex;
    flex-wrap: wrap;
}
.item{
    flex:1 1 100%;
    padding:.5rem
}
.item-inner{
    background-size: cover;
    background-image: url('1.jpg');
    padding-top: calc( 100% / (16 / 9));
    height: 400px;

}
.item:nth-child(2) .item-inner{
    background-image: url("2.jpg");
}
.item:nth-child(3) .item-inner{
    background-image: url("3.jpg");
}
.item:nth-child(4) .item-inner{
    background-image: url("4.jpg");
}
.item:nth-child(5) .item-inner{
    background-image: url("4.jpg");
}
.item:nth-child(6) .item-inner{
    background-image: url("4.jpg");
}
.item:nth-child(7) .item-inner{
    background-image: url("4.jpg");
}
.item:nth-child(8) .item-inner{
    background-image: url("4.jpg");
}
.item:nth-child(9) .item-inner{
    background-image: url("4.jpg");

}
.item:nth-child(10) .item-inner{
    background-image: url("4.jpg");

}
.item:nth-child(11) .item-inner{
    background-image: url("4.jpg");

}
.item:nth-child(12) .item-inner{
    background-image: url("4.jpg");

}

@media screen and (min-width:480px){
    .item{flex: 1 1 50%
    }
}
@media screen and (min-width:768px){
    .item{flex: 1 1 33.3%
    }
}
@media screen and (min-width:980px){
    .item{flex: 1 1 25%
    }
}
.members{
    background: #1e2225;
    display: flex;
}
.profile{
    width: 400px;
    height: 420px;
    overflow:hidden;
    margin:20px 20px 30px 20px;
}
.profile img{
    width: 400px;
    height:420px;
    transition: 1s;
}
.profile img:hover{
    transform: scale(1.2);
}
.name{
    background: #000;
    position: absolute;
    width: 195px;
    height: 50px;
    margin-top: -70px;
    color: rgb(235,50,64);
}
.name h3{
    font-family:Trattatello, fantasy;
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 1.4rem;
    padding-left: 5px;

}
.name p{
    font-size: 10px;
    margin-top: -12px;
    padding-left:5px;
}
.name h5{
    font-family:Trattatello, fantasy;
    margin-top: 5px;
    font-size: 1.1rem;
    padding-left: 5px;

}
footer{
    padding: 20px;
    color: #fff;
    background: #080808;
    height: 600px;
}
.contact{
    display:flex
}
input[type="text"]{
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    color:#fff
}
.inputbox{
    margin-top: 30px;
}
input[type="submit"]{
    border: none;
    padding: 7px 30px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    border-radius: 2px;
    font-weight:bold;
    margin-top: 50px;
    transition: .5s;
}
input[type="submit"]:hover{
    background: #006eff;
    color:#fff;
}
.last{
    background:#000;
    color:#fff;
    text-align: center;
    height: 80px;
}
.last p{
    padding-top:30px
}
footer ul{
    list-style:none;
    display: flex;
    float:right;
    margin-right: 100px;
    margin: 40px;

}
footer li{
    font-size: 1.7rem;
    background:#fff;
    color:#000;
    border-radius: 50px;
    padding: 7px 15px;
    transition: .5s;

}
footer li:hover{
    background: #167bff;
    cursor: pointer;
}
#social-icons{
    color:#000;
    transition: .5s;
}
#social-icons:hover{
    color:#fff
}
#up{
    position:fixed;
    bottom:40px;
    right: 40px;
    font-size: 35px;
    background: #003cff;
    padding:5px 10px;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    pointer-events:none;
    transition: opacity .3s ease-in-out;
}
#up:hover{
    background: #0535d3;
    transition: .5s;
}